.title {
  margin-bottom: 20px;
}

.form {
  margin-bottom: 8px;
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 4px; 
  margin-bottom: 40px;
}

.footer {
  font-size: .8rem;
  text-align: center;
}

.footer a {
  text-decoration: underline;
}
